@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*::selection{
    background-color: rgb(204, 253, 253);
}
body{
    margin: 0px;
    width: auto;
}
html{
    font-family: 'Roboto', sans-serif;
    
    
}

section div div{
    width: 100%;
}


div div h1{
    font-size: 4vw;
    font-weight: 400;
    letter-spacing: 1px;
    
    

}




div div p {
    font-size: 1.8vw;
    font-weight: 400;
    width: 100%;
    
    
   

}

.container{
    padding: 0px 40px;
    
}

.first{
    display: flex;
}
.section1{
    margin-top: 60px;
    opacity: 0;
    transition: opacity 1s ease-out;
    font-size: 24px;
    
}

.section1.visible {
    opacity: 1;
}

.mainlogo{
    margin-top: 50px;
    width: 100%;
    
    
}

div div input, button{
    display: block;
    margin: 20px 0px;
    border: 1px solid black;
    border-radius: 30px;
    border-color: #9B99AF;
    box-sizing: border-box;
    
}
div div input{
    width: 90%;
    height: 4vw;
    margin-top: 80px;
    padding-left: 40px;
    font-size: 20px;
}

div div button{
    width: 90%;
    height: 4vw;
    background-color: #4262FF;
    color: white;
    font-size: 1em;
    transition: all 0.35s;
}

div div button:hover{
    background-color: #284bfe ;
}

div div button:active {
    background-color: #1d3cd4;
}

div div input:focus{
    background-color: rgb(255, 253, 249);
}


.secondp{
    font-size: 14px;
}

.images{
    display: flex;
    margin-top: 52px;
    
    
}

div div div img{
    width: auto;
    margin: 0px;
    padding-left: 50px;
}

div div div p{
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    width: 200px;
    padding-top: 5px;
    font-size: 14px;
}

/***************HEADER******************/

header{
    background-color:#fffbfb ;
    width: 100%;
    border-bottom: 1px solid grey;
    
    
}

header ul{
    list-style: none;
    margin: 0px 0px;
    display: flex;
    padding: 33px 0px;
    gap: 34px;
    font-weight: 400;
    
    padding-left: 40px;
    

}

header ul a:hover{
    transition: all 0.5s;
    color: rgb(68, 68, 68);
    text-decoration: underline;
}
header ul a{
    
    text-decoration: none;
    color: rgb(0, 0, 0);
}

/*************  SECTION 2 **********/

.section2{
    display: flex;
    margin-top: 210px;
}

.section2 div h2{
    font-size: 3.5vw;
    font-weight: 400;
    padding-top: 60px;
}
.section2 div p{
    font-size: 1.3vw;
    padding-right: 100px;
    color: #05003899;
}

.section2 div a{
    position: relative;
    top: 60px;
    text-decoration: none;
    color: blue;

}

.section2 img{
    position: relative;
    left: 80px;
}


.section2 div{
    width: 50%;
}

/*************  SECTION 3 **********/


.section3 {
    display: flex;
    margin-top: 100px;
    padding-left: 100px;
}

.section3 div h2 {
    font-size: 3.5vw;
    font-weight: 400;
    padding-top: 25px;
}

.section3 div p {
    font-size: 1.3vw;
    padding-right: 40px;
    color: #05003899;
}

.section3 div a {
    position: relative;
    top: 40px;
    text-decoration: none;
    color: blue;
}

.section3 div{
    width: 65%;
    margin-left: 120px;
}


/***********  Секция 4 **********/
.section4{
    margin-top: 120px;
}
.section4 h2{
    font-size: 48px;
    font-weight: 400;
}
.s4nav{
    display: flex;
    gap: 20px;
}

.s4nav button:nth-child(3){
    width: 230px;
}
.s4nav button:nth-child(1) {
    background-color: #F1F3FD;
}

.s4nav button{
    width: 120px;
    height: 48px;
    background-color: white;
    border: 1px solid rgba(242, 242, 242, 1);
}


.sect4{
    display: flex;
}

.sect4 div ul{
    position: relative;
    top: -20px; 
    list-style: none;
    padding-left: 0;
    color: rgba(5, 0, 56, 0.6);
    margin-bottom: 58px;
    font-size: 18px;
}

.sect4 div ul li{
    padding-top: 20px;
    padding-left: 15px;
    
}

.sect4 div ul li::before{
    content: url(img/Frame.png);
    position: relative;
    top: 5px;
    left: -15px;
    
    
}

.sect4 div a{
    text-decoration: none;
    color: blue;
}
.sect4 div span{
    display: block;
    margin-top: 70px;
    color: rgba(5, 0, 56, 0.6);
    font-size: 18px;
}

.sect4 div img{
    margin-top: 10px;
}

.sect4logo{
    padding-right: 20px;
    
   
}

.sect4 div img{
    width: 60%;
}


/**************section5********/
.section5{
    background-color: rgba(255, 208, 47, 1);
}

.section5 h2{
    font-size: 48px;
    text-align: center;
    width: 500px;
    font-weight: 400;
    padding-top: 120px;
    margin: 0 auto;
    margin-bottom: 18px;
}

.section5 a{
    display: block;
    text-align: center;
    margin: 0 auto;
    color: black;
}
.section5 > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    row-gap: 100px;
    padding-top: 100px;
    padding-bottom: 80px;
    
    
    
}

.section5 div div p{
    font-size: 18px;
}

.section5 div div{
    flex-basis: 33%;
    text-align: center;
}



/****** Section6 ******/

.section6 > div{
    display: flex;
    column-gap: 120px;
    justify-content: space-between;
    
}
.section6 div div p{
    font-size: 16px;
    color: rgba(5, 0, 56, 0.6);
    line-height: 25px;
    

}

.section6 div div{
    flex-basis: 31%;
    padding-right: 40px;
    text-align: justify;
}
.s6span{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: rgba(5, 0, 56, 0.6);
    flex-wrap: nowrap;

    
    
}

.section6 div div > div{
    display: flex;
    
}

.section6 div div div img{
    padding-left: 0;
    width: 30px;
    height: 30px;
}

.lara{
    position: relative;
    top: 25px;
}

.section6 h2{
    margin-top: 100px;
    font-size: 48px;
    font-weight: 400;
    text-align: center;
}

.section6 button{
    width: 260px;
    height: 46px;
    color: rgba(66, 98, 255, 1);
    border: 1px solid rgba(66, 98, 255, 1);
    background-color: white;
    margin: 0 auto;
    margin-bottom: 75px;
}


.section6 div div div div p{
    font-size: 12px;
    text-align: left;
    line-height: normal;
}

/*********Секция 8******/

.section7{
    margin-top: 150px;
}
.section7 .wrap{
    background-color: rgba(5, 0, 56, 1);
    padding: 140px 230px;
    border-radius: 30px;
    
}

.section7 h2{
    font-size: 36px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    margin: 0 auto;
}

.section7 p{
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    
    
}

.section7 a{
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    display: block;
}

.section7 button{
    width: 250px;
    height: 48px;
    background-color: rgba(66, 98, 255, 1);
    color: white;
    margin: 0 auto;
    margin-top: 40px;
}



footer{
    display: flex;
    flex-direction: row;
    background-color: rgba(5, 0, 56, 1);
    justify-content: space-between;
    color: rgba(255, 255, 255, 1);
    margin-top: 120px;
    padding-top: 120px;
}

footer span{
    display: block;
    line-height: 30px;
}

footer div{
    flex-basis: 24%;
    padding-left: 30px;
    padding-top: 40px;
    padding-bottom: 120px;
}



.footer2{
    background-color: rgba(5, 0, 56, 1);
    color: white;
  
    border-top: 0.5px solid rgba(155, 153, 175, 1);
    padding-top: 50px;
    
}

.footdiv{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    
}

.footdiv div{
    width: 30%;
    position: relative;
    right: 35px;
}

.footdiv p{
    flex-basis: 40;
    margin: 0 0;
}

.fd2{
    margin-top: 20px;
    padding-left: 20px;
}





@media (min-width:340px) and (max-width:850px) {
        header {
            width: 100%;
        }
    
        .first {
            display: flex;
            flex-flow: column;
    
        }
    
        .mainlogo {
            max-width: 460px;
            height: auto;
    
        }
    
        .section1 {
            width: 100%;
        }
    
    
    
        div div div img {
            display: none;
        }
    
        div div h1 {
            font-size: 32px;
            font-weight: 400;
            letter-spacing: 1px;
    
    
    
        }
    
        header ul {
            list-style: none;
            margin: 0px 0px;
            display: flex;
            padding: 33px 0px;
            
            font-weight: 400;
            font-size: 2.5vw;
            padding-left: 10px;
    
        }
        
        div div p {
            font-size: 18px;
            font-weight: 400;
            padding-right: 0;
    
    
    
        }
    
        div div input {
            width: 100%;
            height: 5vh;
    
        }
    
        div div button {
            width: 100%;
            height: 5vh;
    
        }
        header ul {
            
            padding-left: 15px;
    
        }
        .section2{
            flex-direction: column;
            margin-top: 0;
            padding-right: 0;
            flex-wrap: nowrap;
            
        }

        .section2 img{
            position: relative;
            left: 0px;
            width: 90%;
        }
        .section2 div h2{
            font-size: 7vw;
            font-weight: 400;
            padding-top: 0;
            padding-right: 0;
            width: 180%
        }
        .section2 div p{
            font-size: 5vw;
            padding-right: 0px;
            color: #05003899;
            width: 180%
        }
        .section3 {
            flex-direction: column;
            padding-left: 40px;
        }
        
        .section3 div h2 {
            font-size: 8vw;
            font-weight: 400;
            padding-top: 25px;
        }

        .section3 div p {
            font-size: 6vw;
            padding-right: 0;
            color: #05003899;
        }

        .section3 div a {
            position: relative;
            top: -5px;
            text-decoration: none;
            color: blue;
        }

        .section3 div{
            width: 100%;
            margin-left: 0;
            padding-left: 0;
        }
        .section4{
            display: none;
        }
        .section5{
            background-color: rgba(255, 208, 47, 1);
            margin-top: 20px;
        }

        .section5 h2{
            font-size: 48px;
            text-align: center;
            width: 300px;
            font-weight: 400;
            padding-top: 50px;
            margin: 0 auto;
            margin-bottom: 18px;
        }


        .section5 > div{
            
            flex-direction: column;  
        }
        .section6 > div{
            display: flex;
            flex-direction: column;
            row-gap: 120px;
            justify-content: space-between;
            
        }
        .section7 .wrap{
            background-color: rgba(5, 0, 56, 1);
            padding: 140px 20px;
            border-radius: 30px;
        }  
        .section7 h2{
            font-size: 18px;
            
        }
        footer{
            display: flex;
            flex-direction: column;
        }    
        .footdiv{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            
        }

    }

@media (max-width:540px) {
    header{
        width: 100%;
    }

    header ul{
        font-size: 2.5vw;
    }
    .first {
        display: flex;
        flex-flow: column;

    }

    .mainlogo {
        max-width: 460px;
        height: auto;

    }

    .section1 {
        width: 100%;
    }

    

    div div div img {
        display: none;
    }

    div div h1{
        font-size: 32px;
        font-weight: 400;
        letter-spacing: 1px;
        
    

        }
    
        



    div div p {
        font-size: 18px;
        font-weight: 400;
        padding-right: 0;
        
    

    }
    div div input{
        width: 100%;
        height: 5vh;
        
}

    div div button{
        width: 100%;
        height: 5vh;
        
    }
}



@media (max-width:1000px) {
    
        header {
                width: 100%;
            }
        
            header ul {
                font-size: 2.5vw;
            }
        
            .first {
                display: flex;
                flex-flow: column;
        
            }
        
            .mainlogo {
                width: 100%;
                height: auto;
        
            }
        
            .section1 {
                width: 100%;
            }
        
        
        
            div div div img {
                display: none;
            }
        
            div div h1 {
                font-size: 8vw;
                font-weight: 400;
                letter-spacing: 1px;
        
        
        
            }
        
        
        
        
        
            div div p {
                font-size: 6vw;
                font-weight: 400;
                padding-right: 0;
        
        
        
            }
        
            div div input {
                width: 100%;
                height: 9vh;
        
            }
        
            div div button {
                width: 100%;
                height: 9vh;
        
            }
        }

